Package: me.shymemoriees.dockonemore
Name: DockOneMore
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ShyMemoriees
Author: ShyMemoriees
Section: Tweaks
